@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

/*** util ***/
.blind {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}
.font_01 {
	color: #000 !important;
}
.font_02 {
	color: #056bff !important;
}
.font_03 {
	color: #74777b !important;
}
.font_04 {
	color: #b5b9c1 !important;
}
.font_05 {
	color: #fff !important;
}
.font_06 {
	color: #ff4405 !important;
}
.f-roboto {
	font-family: 'Roboto';
}
.f-light {
	font-weight: 300;
}
.f-normal {
	font-weight: 400;
}
.f-bold {
	font-weight: 700;
}

.overflow-hidden {
	overflow: hidden !important;
}
.f-underline {
	text-decoration: underline;
}
.ellipsis {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.t-right {
	text-align: right !important;
}
.t-left {
	text-align: left !important;
}
.t-center {
	text-align: center !important;
}

.mt20 {
	margin-top: 20px !important;
}
.mt30 {
	margin-top: 30px !important;
}
.mt40 {
	margin-top: 40px !important;
}
.wd40 {
	width: 40%;
}
/*** // util ***/



/*** common components ***/

	/** buttons **/

		/* normal size */		
		.btn-pu {
			display: block;
			box-sizing: border-box;
			border-radius: 15px;
			width: 100%;
			height: 52px;
			line-height: 52px;
			font-size: 15px;
			color: #fff;
			text-align: center;
			background-color: #056bff;
			border: 0;
		}
		.btn-pu.disabled,
		.btn-pu:disabled {
			color: #fff;
			background-color: #dee2e7;
		}
		.btn-pu.op30{
			opacity:30%;
		}				

		/* small size */		
		.btn-bd-gr-s {
			display: block;
			box-sizing: border-box;
			border-radius: 6px;
			width: 100%;
			height: 45px;
			line-height: 45px;
			font-size: 13px;
			color: #000;
			text-align: center;
			background-color: #fff;
			border: 1px solid #ddd;
		}
		.btn-bd-gr-s.disabled,
		.btn-bd-gr-s:disabled {
			color: #ebeff3;
		}
		.btn-bd-pu-s {
			display: block;
			box-sizing: border-box;
			border-radius: 6px;
			width: 100%;
			height: 48px;
			line-height: 46px;
			font-size: 13px;
			color: #056bff;
			text-align: center;
			background-color: #fff;
			border: 1px solid #056bff;
		}
		.btn-bd-pu-s.disabled,
		.btn-bd-pu-s:disabled {
			color: #056bff;
			border-color: #056bff;
			opacity:30%;
		}

		.btnTwo{
			display:block;
			width:100%;
			box-sizing: border-box;
			overflow: hidden;
		}
		.btnTwo > .btn-pu{
			height:62px;
			line-height:62px;
			font-size:17px;
			float: right;
			width:47%;
			vertical-align:top;
		}
		.btnTwo > .btn-bd-pu{
			height:62px;
			line-height:62px;
			font-size:17px;
			float: left;
			width:47%;
			vertical-align:top;
		}
		.btnTwo.op30{
			opacity:30%;
		}
		.btn-img-view{
			display: inline-block;
			width: 30px;
			height: 30px;
			background: url(../img/ic-pic.png) no-repeat center center / 100% auto;
			overflow: hidden;
			text-indent: -9999px;
		}

		.btn-video-view{
			display: inline-block;
			width: 30px;
			height: 30px;
			background: url(../img/ic-play.png) no-repeat center center / 100% auto;
			overflow: hidden;
			text-indent: -9999px;
		}
		.btn-video-view.on{
			background: url(../img/ic-play.png) no-repeat center center / 100% auto;
			background-image: url(../img/ic-playing.png);
		}

		.btn-rnd-gr{
			display: inline-block;
			padding: 4px 16px;
			font-weight: 300;
			font-size: 13px;
			color: #b5b9c1;
			line-height: 20px;
			border: 1px solid #ebeff3;
			border-radius: 25px;
			box-sizing: border-box;
			transition: .2s;
			background: #fff;
			outline: none;
		}
		.btn-rnd-gr.on{
			color: #056bff;
			background: #edf4ff;
			border: 1px solid #edf4ff;
		}

		.btn-rnd-bd-gr{
			display: inline-block;
			padding: 3px 8px;
			font-weight: 300;
			font-size: 12px;
			color: #000;
			line-height: 18px;
			border: 1px solid #909295;
			border-radius: 5px;
			box-sizing: border-box;
		}
		.btn-rnd-bd-gr:disabled{
			opacity: 0.3;
		}
		

		/* etc */

		/* // etc */


	/** // buttons **/

	/** textarea **/
	.textarea {
		display: block;
	}
	.textarea > textarea {
		display: block;
		box-sizing: border-box;
		border: 1px solid #ddd;
		border-radius: 6px;
		padding: 13px 17px;
		width: 100%;
		font-size: 14px;
		line-height: 20px;
		background-color: #fff;
		outline: none;
		resize: none;
	}
	.textarea-count {
		margin-top: 10px;
		font-size: 12px;
		text-align: right;
		color: #666;
	}
	.textarea-count span {
		font-family: 'Roboto';
	}
	.textarea > textarea:disabled {
		border-color: #ddd;
		background-color: #f5f5f5;
		color: #999;
	}
	.textarea + .title-lb {
		margin-top: 30px;
	}

	/** textarea **/

	/** input-text **/

	.input-text {
		display: block;
		position: relative;
	}
	.input-text > input {
		display: block;
		box-sizing: border-box;
		border-bottom: 1px solid #dbdee5;
		border-top:none;	
		border-left:none;	
		border-right:none;	
		padding: 0 10px 0 0;
		width: 100%;
		height: 44px;
		font-size: 14px;
		background-color: #fff;
		outline: none;
	}
	.input-text > input:only-child {
		padding-right: 17px !important;
		padding-left: 17px !important;
	}
	.input-text > input:focus {
		border-color: #056bff;
	}
	.input-text > .btn-remove {
		display: none;
		position: absolute;
		right: 0;
		top: 14px;
		z-index: 1;
		width: 30px;
		height: 30px;
		overflow: hidden;
		text-indent: -999px;
		background: url(../img/ac-ic-search.png) no-repeat 0 0 / 100% auto;
	}
	/*
	.input-text > .btn-remove.active {
		display: block;
	}
	*/
	.input-text > .msg {
		display: block;
		margin: 10px 0 0;
		font-size: 12px;
		line-height: 14px;
		color: #666;
	}
	.input-text > input.t-right {
		padding: 0 17px 0 47px;
	}
	.input-text > input.t-right + .btn-remove {
		right: auto;
		left: 18px;
	}
	.input-text.error > input {
		border-color: #ff4405;
	}
	.input-text.error > .msg {
		color: #ff4155;
	}
	.input-text > input:read-only {
		border-color: #f5f5f5;
		background-color: #f5f5f5;
		color: #000;
	}
	.input-text > input:read-only + .btn-remove {
		display: none;
	}
	.input-text > input:disabled {
		border-color: #ddd;
		background-color: #f5f5f5;
		color: #999;
	}
	.input-text > input:disabled + .btn-remove {
		display: none;
	}
	.input-text.is-number input {
		text-align: right;
		padding-right: 32px;
	}
	.input-text.is-number .unit {
		position: absolute;
		right: 18px;
		top: 0;
		font-size: 14px;
		line-height: 48px;
		color: #000;
		text-align: right;
		width: 15px;
	}

	/** // input-text **/

	/** input-file **/


	/** // input-file **/

	/** input-date **/



	/** // input-date **/

	/** input-time **/


	/** // input-time **/

	/** search-bar **/


	/** // search-bar **/

	/** input-checkbox **/

	.input-checkbox {
		display: inline-block;
		min-height: 20px;
		min-width: 20px;
	}
	.input-checkbox > input {
		opacity: 0;
		width: 0;
		height: 0;
		position: absolute;
		overflow: hidden;
		-webkit-appearance: none;
	}
	.input-checkbox > span {
		display: block;
		position: relative;
		padding-left: 28px;
		line-height: 20px;
		font-size: 13px;
		min-height: 20px;
	}
	.input-checkbox > span::before {
		content: '';
		display: inline-block;
		position: absolute;
		box-sizing: border-box;
		left: 0;
		top: 0;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		border:none;
		background-image: url(../img/ac-ic-check-nor.svg);
		background-size:cover;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #dee2e7;
		-webkit-transition: background-color .2s, border-color .2s;
		transition: background-color .2s, border-color .2s;
	}
	.input-checkbox > input:checked + span::before {
		background-image: url(../img/ac-ic-check-sel.svg);
		background-color: #056bff;	
		background-size:cover;
	}
	.input-checkbox > input:disabled + span::before {
		background-color: #dee2e7;	
	}
	.input-checkbox > input:checked:disabled + span::before {
		background-image: url(../img/ac-ic-check-nor.svg);
		background-size:cover;
	}

	.rnd-checkbox{
		position: relative;
		padding: 13px 20px 12px 20px;
	}
	.rnd-checkbox .lp-btn{
		position: absolute;
		top: 7px;
		right: 22px;
		z-index: 1;
	}
	.rnd-checkbox .input-checkbox > span{
		position: static;
	}
	.rnd-checkbox .input-checkbox > span:before{
		top: 13px;
		left: 22px;
	}
	.rnd-checkbox .input-checkbox > span:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 1px solid #dbdee5;
		border-radius: 25px;
		box-sizing: border-box;
	}
	.rnd-checkbox .input-checkbox > input:checked + span:after{
		border: 2px solid #056bff;
		transition: .2s;
	}

	/** // input-checkbox **/

	/** input-radio **/

	.input-radio {
		display: inline-block;
		min-height: 20px;
		min-width: 20px;
	}
	.input-radio > input {
		opacity: 0;
		width: 0;
		height: 0;
		position: absolute;
		overflow: hidden;
		-webkit-appearance: none;
	}
	.input-radio > span {
		display: block;
		position: relative;
		padding-left: 28px;
		line-height: 20px;
		font-size: 14px;
		min-height: 20px;
	}
	.input-radio > span::before {
		content: '';
		display: inline-block;
		position: absolute;
		box-sizing: border-box;
		left: 0;
		top: 0;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		border: 1px solid #dbdee5;
		background-color: #fff;
		-webkit-transition: background-color .2s, border-color .2s;
		transition: background-color .2s, border-color .2s;
	}
	.input-radio > span::after {
		content: '';
		display: inline-block;
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 6px;
		left: 5px;
		top: 5px;
		background-color: #dbdee5;
		-webkit-transition: background-color .2s;
		transition: background-color .2s;
	}
	.input-radio > input:checked + span::before {
		border-color: #056bff;
	}
	.input-radio > input:checked + span::after {
		background-color: #056bff;
	}
	.input-radio > input:disabled + span::before {
		border-color: #ddd;
		background-color: #f5f5f5;
	}
	.input-radio > input:checked:disabled + span::before {
		background-color: #fff;
	}
	.input-radio > input:checked:disabled + span::after {
		background-color: #ddd;
	}

	/** // input-radio **/

	/** chk-rdo-wrap **/

	.chk-rdo-wrap {
		margin-right: -20px
	}
	.chk-rdo-wrap > label {
		vertical-align: top;
		margin: 5px 20px 0 0;
	}
	.chk-rdo-wrap + .banner-box {
		margin-top: 40px;
	}

	/** // chk-rdo-wrap **/

	/** input-check-toggle  **/

	.input-check-toggle {
		display: inline-block;
		position: relative;
		width: 42px;
		height: 26px;
	}
	.input-check-toggle > input {
		opacity: 0;
		width: 0;
		height: 0;
		position: absolute;
		overflow: hidden;
		-webkit-appearance: none;
	}
	.input-check-toggle > span {
		display: block;
		width: 100%;
		height: 100%;
		border: 1px solid #dbdee5;
		border-radius: 13px;
		-webkit-transition: background-color .2s;
		transition: background-color .2s;
		box-sizing: border-box;
	}
	.input-check-toggle > span::before {
		content: '';
		display: block;
		position: absolute;
		left: 3px;
		top: 3px;
		width: 20px;
		height: 20px;
		border-radius: 11px;
		background-color: #dbdee5;
		-webkit-transition: background-color .2s, -webkit-transform .2s;
		transition: background-color .2s, transform .2s;
	}
	.input-check-toggle > input:checked + span {
		border: 1px solid #056bff;
	}
	.input-check-toggle > input:checked + span::before {
		background-color: #056bff;
		-webkit-transform: translateX(16px);
		transform: translateX(16px);
	}
	.input-check-toggle > input:disabled + span {
		background-color: #999;
	}

	/** // input-check-toggle  **/

	/** select **/


	/** // select **/

/*** // common components ***/


/*** layout ***/

	/** footer **/


	/** // footer **/

	/** header **/

	/** // header **/


	/** full layer Popup **/

	.layer-full-wrap{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		height: 100%;
		padding: 58px 0 0 0;
		background: #fff;
	}
	.layer-content{
		position:relative;
		height:100%;
		min-height:100%;
		padding:20px 22px 0 22px;
		overflow:auto;
	}
	.layer-content > .layer-inner{
		height:calc(100% - 20px);
		overflow:auto;
	}

	/* 레이어팝업 헤더 */
	.layer-header{
		position:fixed;
		top:0;
		left:0;
		z-index:101;
		width:100%;
		height:58px;
		padding: 14px 22px;
		background:#fff;
		font-size:17px;
		font-weight:bold;
		color:#191919;
	}
	.layer-header-inner{
		position: relative;
		padding-left: 35px;
	}
	.layer-title{
		display: inline-block;
		line-height: 30px;
		font-weight: 400;
		font-size: 17px;
	}
	.layerCloseBtn {
		position:absolute;
		top: 0;
		left: 0px;
		width: 30px;
		height: 30px;
		background:url(../img/ac-black-close.png) no-repeat 0 0 / 100% auto;
		text-indent:-9999px;
	}
	.layer-header-inner .u-profile{
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}
	.u-profile{
		position: relative;
		display: inline-block;
		padding: 2px 6px 2px 24px;
		border-radius: 25px;
		background: #f7f9fa;
	}
	.u-profile .u-profile-img{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		/*border: 1px solid #ebeff3;*/
		border: 1px solid red;
		overflow: hidden;
	}
	.u-profile .u-profile-img img{
		display: block;
		width: 100%;
		height: 100%;
	}
	.u-profile > .name{
		display: block;
		max-width: 60px;
		font-size: 12px;
		line-height: 18px;
		overflow:hidden;
	    text-overflow:ellipsis;
	    white-space:nowrap;
	}

	/** // full layer Popup **/


/*** // layout ***/



